@using BLL.DTO
@{
    ViewBag.Title = "EBooks";
}

@model IEnumerable<NewsDTO>
<div class="news">
    @NewsList(Model)
</div>

@helper NewsList(IEnumerable<NewsDTO> newsList) 
{
    foreach (var news in newsList)
    {
        <div class="news_item">
            <p class="news_header">@news.Header</p>
            <p class="news_text">
                @news.Text.Substring(0, 200)
                <a href=@Url.Action($"ReadNews/{news.NewsId}","Home")>Читати далі...</a>
            </p>
            <p class="author">@news.Author</p>
            <p class="date">@news.Date.ToString("dd.MM.yyyy")</p>
        </div>
    }
}
    